<div class="section-footer-2 wf-section">
      <div class="content-3">
        <div class="w-layout-grid grid-footer">
          <div id="w-node-_31560b72-f2b9-4fd3-2e9b-0687d15389ee-d15389eb" class="block-footer">
            <a href="{{ links.23 }}" class="brand-footer w-inline-block"><img src="{{ images.2ac0df44.url }}" loading="lazy" height="" width="198" alt="{{ images.2ac0df44.alt | trim | escape }}" sizes="(max-width: 479px) 79vw, 198px" class="image-14"></a>
          </div>
          <div id="w-node-_31560b72-f2b9-4fd3-2e9b-0687d15389f1-d15389eb" class="block-footer">
            <h6 class="title-footer">{{ texts.617cae17 }}</h6>
            <a href="{{ links.3191cce7 }}" aria-current="page" class="link-footer w--current">{{ texts.-3243028 }}</a>
            <a href="{{ links.1c58c9f9 }}" class="link-footer">{{ texts.-45b0dad8 }}<br></a>
          </div>
          <div id="w-node-_31560b72-f2b9-4fd3-2e9b-0687d15389f9-d15389eb" class="block-footer">
            <h6 class="title-footer">{{ texts.4e8d47a }}</h6>
            <a href="{{ links.58082f04 }}" class="link-footer">{{ texts.234c4922 }}</a>
            <a href="{{ links.58082f04 }}" class="link-footer">{{ texts.55f47feb }}</a>
          </div>
          <div class="block-footer-copy">
            <h6 class="title-footer">{{ texts.-7282aeee }}</h6>
            <a href="{{ links.23 }}" class="link-footer block-footer">{{ texts.4ef36b1d }}</a>
            <a href="{{ links.30b1ed9 }}" target="_blank" class="link-footer">{{ texts.30164b95 }}<span class="text-span">{{ texts.1b0e51 }}</span></a>
            <a href="{{ links.23 }}" class="link-footer">{{ texts.-27bb6d32 }}<br></a>
          </div>
        </div>
        <div class="footer-social-wrapper">
          <a href="{{ links.-3c9b3c0d }}" class="social-icon w-inline-block">
            <div data-w-id="31560b72-f2b9-4fd3-2e9b-0687d1538a0e" data-is-ix2-target="1" class="lottie-animation" data-animation-type="lottie" data-src="/assets/documents/lottieflow-social-networks-15-11-000000-easey.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="canvas" data-default-duration="1.6" data-duration="1.5"></div>
          </a>
          <a href="{{ links.34234b9d }}" target="_blank" class="social-icon w-inline-block">
            <div data-w-id="31560b72-f2b9-4fd3-2e9b-0687d1538a10" data-is-ix2-target="1" class="lottie-animation-2" data-animation-type="lottie" data-src="/assets/documents/lottieflow-social-networks-15-6-14100a-easey.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="1.5" data-duration="0"></div>
          </a>
          <a href="{{ links.-57fc80ab }}" target="_blank" class="social-icon w-inline-block">
            <div data-w-id="31560b72-f2b9-4fd3-2e9b-0687d1538a12" data-is-ix2-target="1" class="lottie-animation-2" data-animation-type="lottie" data-src="/assets/documents/lottieflow-social-networks-15-5-000000-easey.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="1.1833333333333333" data-duration="0"></div>
          </a>
          <a href="{{ links.-4ef79fa7 }}" class="social-icon w-inline-block">
            <div data-w-id="31560b72-f2b9-4fd3-2e9b-0687d1538a14" data-is-ix2-target="1" class="lottie-animation-2" data-animation-type="lottie" data-src="/assets/documents/lottieflow-social-networks-15-9-000000-easey.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="1.9" data-duration="0"></div>
          </a>
        </div>
        <div class="footer-down">
          <div class="block-footer-down">
            <a href="{{ links.52449930 }}" target="_blank" class="link-footer-down">{{ texts.-95a331f }}</a>
          </div>
        </div>
      </div>
    </div>