<footer class="section-footer">
      <div class="container-large">
        <div class="footer-wrapper">
          <a href="{{ links.413ec14a }}" class="w-inline-block"><img src="{{ images.2ac0df44.url }}" loading="lazy" data-sizes="[{&quot;max&quot;:10000,&quot;size&quot;:&quot;124px&quot;}]" sizes="124px" alt="{{ images.2ac0df44.alt | trim | escape }}" class="footer-logo"></a>
          <p class="paragraph-footer">{{ texts.418d2cb2 }}<br>{{ texts.-4eed31f4 }}<br>{{ texts.79167b9d }}</p>
          <div class="footer-link-wrapper">
            <a href="{{ links.2f }}" aria-current="page" class="footer-link w-inline-block w--current">
              <div>{{ texts.2268ff }}</div>
            </a>
            <a href="{{ links.3191cce7 }}" class="footer-link w-inline-block">
              <div>{{ texts.-3243028 }}</div>
            </a>
            <a href="{{ links.1c58c9f9 }}" class="footer-link w-inline-block">
              <div>{{ texts.-45b0dad8 }}</div>
            </a>
            <a href="{{ links.58082f04 }}" class="footer-link w-inline-block">
              <div>{{ texts.234c4922 }}</div>
            </a>
            <a href="{{ links.4b0e6111 }}" class="footer-link w-inline-block">
              <div>{{ texts.-64104400 }}</div>
            </a>
          </div>
          <div class="footer-social-wrapper">
            <a href="{{ links.23 }}" class="social-icon w-inline-block">
              <div data-w-id="8e373c4a-5c35-52b8-ff4e-f9f4dd888439" data-is-ix2-target="1" class="lottie-animation" data-animation-type="lottie" data-src="/assets/documents/lottieflow-social-networks-15-11-000000-easey.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="canvas" data-default-duration="1.6" data-duration="0"></div>
            </a>
            <a href="{{ links.23 }}" class="social-icon w-inline-block">
              <div data-w-id="8e373c4a-5c35-52b8-ff4e-f9f4dd88843b" data-is-ix2-target="1" data-animation-type="lottie" data-src="/assets/documents/lottieflow-social-networks-15-10-000000-easey.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="canvas" data-default-duration="2" data-duration="0"></div>
            </a>
            <a href="{{ links.23 }}" class="social-icon w-inline-block">
              <div data-w-id="8e373c4a-5c35-52b8-ff4e-f9f4dd88843d" data-is-ix2-target="1" class="lottie-animation-2" data-animation-type="lottie" data-src="/assets/documents/lottieflow-social-networks-15-5-000000-easey.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="1.1833333333333333" data-duration="0"></div>
            </a>
          </div>
        </div>
      </div>
    </footer>