<div id="Over-mij" data-w-id="7ae07afa-5766-100a-1860-fe8dc8c0aa45" class="cf-benefits-section wf-section">
      <div class="div-block-248">
        <h1 class="heading-4">{{ texts.234c4922 }}</h1>
      </div>
      <div class="cf-wrapper benefits-wrapper">
        <div class="cf-benefits-pointers-left">
          <div class="cf-benefits-pointer-item">
            <div class="cf-benefits-pointer-heading-and-number">
              <div class="cf-benefits-pointer-number">{{ texts.601 }}</div>
              <h5 class="cf-case-study-number-text">{{ texts.-39f6bdd8 }}</h5>
            </div>
            <div class="cf-text-block-2 _16-px"><strong class="bold-text">{{ texts.-1613f8b1 }}<br></strong></div>
            <div class="cf-benefits-pointer-line"></div>
          </div>
          <div class="cf-benefits-pointer-item">
            <div class="cf-benefits-pointer-heading-and-number">
              <div class="cf-benefits-pointer-number">{{ texts.602 }}</div>
              <h5 class="cf-case-study-number-text">{{ texts.-d1ed036 }}</h5>
            </div>
            <div class="cf-text-block-2 _16-px"><strong class="bold-text-5">{{ texts.-20fee346 }}</strong></div>
            <div class="cf-benefits-pointer-line"></div>
          </div>
        </div>
        <div class="cf-benefits-image">
          <div class="div-block-2"><img data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;76vw&quot;},{&quot;max&quot;:767,&quot;size&quot;:&quot;38vw&quot;},{&quot;max&quot;:1279,&quot;size&quot;:&quot;27vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;340px&quot;}]" sizes="(max-width: 479px) 76vw, (max-width: 767px) 38vw, (max-width: 1279px) 27vw, 340px" src="{{ images.23ae0fce.url }}" alt="{{ images.23ae0fce.alt | trim | escape }}" class="image-blur"></div>
        </div>
        <div class="cf-benefits-pointers-right">
          <div class="cf-benefits-pointer-item">
            <div class="cf-benefits-pointer-heading-and-number">
              <div class="cf-benefits-pointer-number">{{ texts.603 }}</div>
              <h5 class="cf-case-study-number-text">{{ texts.-1f9d39df }}</h5>
            </div>
            <div class="cf-text-block-2 _16-px"><strong class="bold-text-3">{{ texts.-18b10e09 }}</strong></div>
            <div class="cf-benefits-pointer-line _3"></div>
          </div>
          <div class="cf-benefits-pointer-item-copy">
            <div class="cf-benefits-pointer-heading-and-number">
              <div class="cf-benefits-pointer-number">{{ texts.604 }}</div>
              <h5 class="cf-case-study-number-text">{{ texts.7c6a3d16 }}</h5>
            </div>
            <div class="cf-text-block-2 _16-px"><strong class="bold-text-6">{{ texts.-7ab2a77d }}</strong></div>
            <div class="cf-benefits-pointer-line"></div>
          </div>
        </div>
        <div data-w-id="7ae07afa-5766-100a-1860-fe8dc8c0aa78" class="top-margin _30-pixels">
          <div class="title-2">{{ texts.7645ec10 }}</div>
          <div class="top-margin">
            <a data-w-id="7ae07afa-5766-100a-1860-fe8dc8c0aa7c" href="{{ links.-3c9b3c0d }}" class="social-icon-rounded facebook w-inline-block">
              <div class="social-icons-container">
                <div class="social-icon-up facebook"></div>
                <div class="social-icon-down facebook"></div>
              </div>
            </a>
            <a data-w-id="7ae07afa-5766-100a-1860-fe8dc8c0aa80" href="{{ links.-14050fe }}" target="_blank" class="social-icon-rounded twittter w-inline-block">
              <div class="social-icons-container">
                <div class="social-icon-up twitter"></div>
                <div class="social-icon-down twitter"></div>
              </div>
            </a>
            <a data-w-id="7ae07afa-5766-100a-1860-fe8dc8c0aa84" href="{{ links.-57fc80ab }}" target="_blank" class="social-icon-rounded instagram w-inline-block">
              <div class="social-icons-container">
                <div class="social-icon-up instagram"></div>
                <div class="social-icon-down instagram"></div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>